websockets==11.0.3
pyaudio==0.2.13 # sudo apt install portaudio19-dev
funasr==1.0.25
modelscope==1.14.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchaudio==2.3.1
soundfile
xpinyin
numpy==1.24

fastapi
uvicorn
opencv-python
flask
pyside6